{% extends 'main/content/animations/base_animations.html' %}
{% block anima %}
    <div class="container text-center">
        <div class="row row-cols-4">
            {% for w in char %}
                <div class="col my-4">
                    <div class="card" style="width: 18rem;">
                        {% if w.cha_pic %}
                            <img src="{{ w.cha_pic.url }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Название: {{ w.name }}</h5>
                            <a href="" class="btn btn-primary">Подробднее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock anima %}