{% extends 'main/base.html' %}
{% block gal %}
    <div class="container">
        <div class="row eow-cols-3">
            {% for al in album_list %}
                <div class="col my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Название: <a href="">{{ al.name }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock gal %}