{% extends 'main/content/animations/base_animations.html' %}
{% block anima %}
    <div class="container text-center">
        <div class="row row-cols-3">
            {% for a in anima %}
                <div class="col my-3">
                    <div class="card">
                        {% if a.animat_pic %}
                            <img src="{{ a.animat_pic.url }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ a.name }}</h5>
                            <p class="card-text">
                                вселенная: {{ a.title }}<br>
                            </p>
                            <a href="" class="btn btn-primary">Детальная информация</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#-----------------------------------------пагинация страниц------------------------------------------------------#}
    <div class="pagination">
    <span class="step-links">
        {% if anima.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ anima.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ anima.number }} of {{ anima.paginator.num_pages }}.
        </span>

        {% if anima.has_next %}
            <a href="?page={{ anima.next_page_number }}">next</a>
            <a href="?page={{ anima.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock anima %}