{% extends 'main/content/animations/base_animations.html' %}
{% block anima %}
    <div class="container text-center">
        <div class="row row-cols-3">
            {% for a in anima %}
                <div class="col my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ a.name }}</h5>
                            <p class="card-text">
                                краткое описание: {{ a.body }}<br>
                            </p>
                            <a href="" class="btn btn-primary">подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock anima %}